body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 18px;
	width: 100%;
	height: 60px;
	display: flex;
	
}

header nav {
	grid-column: 1;
	width: 250px;
	height: auto;
	display: flex;
	list-style: none;
	margin-right: 10px;
	justify-content: flex-start;
}

header nav button {
	grid-column: 1;
	width: 250px;
	height: auto;
	display: flex;
	list-style: none;
	margin-top: 20px;
	margin-right: 0px;
	padding-right: 20px;
	font-size: 18px;
	color: black;
	background-color: inherit;
	border: none;
	justify-content: flex-start;
	border-bottom: solid 2px lightpink;
	padding: 0px 0px 30px;
}

header nav button:hover {
	color: #cc4477;
	border-bottom: solid 5px;
	padding: 0px 0px 30px;
}

.nav-left-section a {
	grid-column: 2;
	align-items: flex-end;
	color: gray;
	justify-content: flex-end;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 1;
	font-size: 40px;
	color: gray;
	margin: 50px;
}

main span{
	font-size: 60px;
	color: black;
	font-weight: 600;
}

.main-logo {
	grid-column: 2;
	width: 75%;
}

.main-logo img {
	grid-column: 2;
	width: 500px;
	height: 300px;
}

main button {
	font-size: 20px;
	margin: 20px;
	padding: 10px;
	width: 150px;
	background-color: #cc4477;
	color: white;
	border-radius: 5px;
	font-weight: 600;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	color: gray;
	font-size: 20px;
}